.wrapper {
  width: 100vw;
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;
}

.background {
  background-image: url('/assets/medical_logo.png');
  background-size: contain;
  background-repeat: no-repeat;
  max-width: 600px;
  width: 100%;
  height: 600px;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.form-title {
  font-size: 30px;
  color: #3f51b5;
  text-align: center;
}

.form-login {
  min-width: 150px;
  width: 100%;
}

.form-input {
  width: 100%;
}

.form-button {
  width: 100%;
}

.form-signup-link {
  margin-right: auto;
  margin-top: 10px;
}
