<div class="wrapper">
  <h1 class="form-title">Nusa</h1>
  <div class="container">
    <a
      routerLink="/patient"
      mat-flat-button
      color="primary"
      class="form-signup-link"
    >
      Paciente
    </a>

    <a
      routerLink="/signup"
      mat-flat-button
      color="primary"
      class="form-signup-link"
    >
      Medicamento
    </a>
    <a
      routerLink="/signup"
      mat-flat-button
      color="primary"
      class="form-signup-link"
    >
      Receita
    </a>
  </div>
</div>
